@import 'tailwindcss';
/*
  ---break---
*/
@plugin 'tailwindcss-animate';
/*
  ---break---
*/
@custom-variant dark (&:is(.dark *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  color-scheme: light dark;
  --background: light-dark(hsl(273 67% 98%), hsl(273 48% 2%));
  --foreground: light-dark(hsl(273 76% 0%), hsl(273 14% 98%));
  --muted: light-dark(hsl(33 22% 91%), hsl(33 22% 9%));
  --muted-foreground: light-dark(hsl(33 9% 39%), hsl(33 9% 61%));
  --popover: light-dark(hsl(273 67% 97%), hsl(273 48% 3%));
  --popover-foreground: light-dark(hsl(0 0% 0%), hsl(273 14% 99%));
  --card: light-dark(hsl(273 67% 97%), hsl(273 48% 3%));
  --card-foreground: light-dark(hsl(0 0% 0%), hsl(273 14% 99%));
  --border: light-dark(hsl(273 12% 91%), hsl(273 12% 12%));
  --input: light-dark(hsl(273 12% 91%), hsl(273 12% 12%));
  --primary: hsl(273 77% 22%);
  --primary-foreground: hsl(273 77% 82%);
  --secondary: hsl(33 77% 22%);
  --secondary-foreground: hsl(33 77% 82%);
  --accent: hsl(153 77% 22%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: light-dark(hsl(2 93% 45%), hsl(2 93% 54%));
  --destructive-foreground: hsl(0 0% 100%);
  --ring: hsl(273 77% 22%);
  --chart-1: hsl(273 77% 22%);
  --chart-2: hsl(33 77% 22%);
  --chart-3: hsl(153 77% 22%);
  --chart-4: hsl(33 77% 25%);
  --chart-5: hsl(273 80% 22%);
  --radius: 0.125rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/*
  ---break---
*/

/*
  ---break---
*/

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/*
  ---break---
*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
