@import 'tailwindcss';
/*
  ---break---
*/
@plugin 'tailwindcss-animate';
/*
  ---break---
*/
@custom-variant dark (&:is(.dark *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground bg-radial-[at_25%_25%] from-white/10 to-transparent to-75%;
  }

  html {
    overflow-y: scroll;
  }

  .content-pending {
    .content {
      @apply empty:bg-muted rounded empty:h-[1em] empty:min-w-1/2;
    }
    p.content:empty {
      @apply h-[4em] bg-transparent;

      &::before,
      &::after {
        @apply bg-muted mb-2 block h-[1.5em] min-w-1/2 rounded;
        content: '';
      }
    }
  }
}

:root {
  color-scheme: light dark;
  --background: light-dark(hsl(213.2 50% 100%), hsl(213.2 50% 10%));
  --foreground: light-dark(hsl(213.2 2.5% 10%), hsl(213.2 2.5% 100%));
  --card: light-dark(hsl(213.2 25% 100%), hsl(213.2 25% 10%));
  --card-foreground: light-dark(hsl(213.2 2.5% 15%), hsl(213.2 2.5% 100%));
  --popover: light-dark(hsl(213.2 50% 100%), hsl(213.2 50% 5%));
  --popover-foreground: light-dark(hsl(213.2 97.5% 10%), hsl(213.2 2.5% 100%));
  --primary: light-dark(hsl(213.2 88.7% 45.1%), hsl(213.2 88.7% 45.1%));
  --primary-foreground: light-dark(hsl(0 0% 100%), hsl(0 0% 100%));
  --secondary: light-dark(hsl(213.2 20% 90%), hsl(213.2 20% 20%));
  --secondary-foreground: light-dark(hsl(0 0% 0%), hsl(0 0% 100%));
  --muted: light-dark(hsl(251.2 20% 95%), hsl(251.2 20% 25%));
  --muted-foreground: light-dark(hsl(213.2 2.5% 40%), hsl(213.2 2.5% 65%));
  --accent: light-dark(hsl(251.2 20% 90%), hsl(251.2 20% 25%));
  --accent-foreground: light-dark(hsl(213.2 2.5% 15%), hsl(213.2 2.5% 95%));
  --destructive: light-dark(hsl(0 75% 50%), hsl(0 75% 50%));
  --destructive-foreground: light-dark(hsl(213.2 2.5% 100%), hsl(213.2 2.5% 100%));
  --border: light-dark(hsl(213.2 25% 82%), hsl(213.2 25% 15%));
  --input: light-dark(hsl(213.2 25% 50%), hsl(213.2 25% 50%));
  --ring: light-dark(hsl(213.2 88.7% 45.3%), hsl(213.2 88.7% 45.3%));
  --radius: 0rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/*
  ---break---
*/

/*
  ---break---
*/

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
